@model IEnumerable<CalificacionesWEBApp.Models.Entidades.MateriaModel>

@{
    ViewData["Title"] = "Materias";
}
<div class="form-group w-75 mx-auto shadow p-4">

    <h2>Materias</h2>

    <p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nuevaMateriaModal" onclick="CargarSelectsNuevaMateriaModal()">
            Nueva Materia
        </button>
    </p>
    <table class="table table-bordered table-responsive">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profesor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Curso)
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Profesor.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Curso.Nombre) @Html.DisplayFor(modelItem => item.Curso.Paralelo) - @Html.DisplayFor(modelItem => item.Curso.Seccion) - @Html.DisplayFor(modelItem => item.Curso.Periodo)
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#editarMateriaModal" onclick="cargarUnaMateriaModal(@item.Id)">
                                <i class="fas fa-edit"></i> Editar
                            </button>
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#eliminarMateriaModal" onclick="cargarEliminarMateriaModal(@item.Id)">
                                <i class="fas fa-trash"></i> Eliminar
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>


    <div class="modal fade" id="nuevaMateriaModal" tabindex="-1" role="dialog" aria-labelledby="Nueva Materia" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Nueva Materia</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="form">
                        <div class="form-row">
                            <div class="col">
                                <label for="nombreMateria">Nombre de la Materia</label>
                                <input id="nuevoNombre" type="text" class="form-control" placeholder="Nombre de la Materia" aria-label="Nombre de la Materia">
                            </div>
                            <div class="col">
                                <label for="nuevoProfesor">Profesor</label>
                                <select id="nuevoProfesor" class="form-select" aria-label="Seleccione Profesor">
                                    <option selected="">Seleccione Profesor</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col">
                                <label for="nuevoCurso">Curso</label>
                                <select id="nuevoCurso" class="form-select" aria-label="Seleccione Curso">
                                    <option selected="">Seleccione Curso</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-success" onclick="guardarMateria()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editarMateriaModal" tabindex="-1" role="dialog" aria-labelledby="Editar Materia" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editarMateriaModalLabel">Editar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="form">
                        <div class="form-row">
                            <div class="form-row">
                                <div class="col">
                                    <label for="editarNombre">Nombre de la Materia</label>
                                    <input id="editarNombre" type="text" class="form-control" placeholder="Nombre de la Materia" aria-label="Nombre de la Materia">
                                </div>
                                <div class="col">
                                    <label for="editarProfesor">Profesor</label>
                                    <select id="editarProfesor" class="form-select" aria-label="Seleccione Profesor">
                                        <option selected="">Seleccione Profesor</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-row">
                                <label for="editarCurso">Curso</label>
                                <select id="editarCurso" class="form-select" aria-label="Seleccione Curso">
                                    <option selected="">Seleccione Curso</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" id="editarBotones">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-success" id="editarBoton">Editar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="eliminarMateriaModal" tabindex="-1" role="dialog" aria-labelledby="Eliminar Materia" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminarTitulo">Eliminar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <h5>¿Está seguro que desea eliminar esta materia?</h5>
                </div>
                <div class="modal-footer" id="eliminarBotones">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-danger" id="eliminarBoton">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
